<!DOCTYPE njk>
<njk lang="en">
  <head>
    <title>Blog Page</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body class="mainBackground">
    <div class="blogMainPage">
      <div class="blogCenter">
        <h2>Post Posts</h2>
        <ol reversed="">
          {%- for post in collections.post -%}
          <li class="mainBlogList">
            <a href="{{ post.url }}" class="mainBlogLink">{{ post.data.title }}</a>
            <time class="mainBlogLinkDate">{{ post.data.date.toUTCString().substring(0, 16) }}</time>
          </li>
          {%- endfor -%}
        </ol>
        <a href ="/blog/archive" class="mainBlogLink">Post Archive</a>
      </div>
    </div>
  </body>
</njk>
