.mainBackground {
  background-color: rgb(31, 29, 61);
}

.mainText {
  color: rgb(212, 88, 47);
  text-align: center;
}

.mainPageLink {
    color: rgb(212, 88, 47)
}

.poem {
  font-size: 18px;
  /* font-style: oblique; */
}

p {
  color: rgb(255, 149, 50);
}

.kittyPic {
  width: 200px;
  height: 200px;
}

.row {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.imgColumn {
  flex: 30%;
  padding: 10px;
}

.mainCenterBox {
  max-width: 56rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


/* Carter Page */
.carterMainText {
    color:rgb(255, 165, 180);
    text-align: center;
}

/* Blog Main */
.blogMainPage{
  color:goldenrod;
}

.blogCenter{
  max-width: 40rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.mainBlogLink {
  color:goldenrod;
  flex-basis: calc(100% - 1.5rem);
  padding-left: .25em;
  padding-right: .5em;
}

.mainBlogList {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  margin-bottom: 0.5em;
}

.mainBlogList:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}

.mainBlogLinkDate {
  font-size: 15px;
}

ol {
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
  counter-reset: start-from 5;
}

.mainBlogLink:visited{
  color: rgb(218, 91, 45)
}

/* Fonts */
.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-italic {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
